<ion-card class="cat-card">
  <ion-card-subtitle class="cat-card__header">
    <ion-row class="ion-align-items-center">
      <ion-col>
        <span class="cat-card__title">
          {{ cat.name }}
        </span>
      </ion-col>
      <ion-col class="ion-text-right">
        <ion-button class="cat-card__button" (click)="openDescription()" fill="clear" size="small">
          More...
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-card-subtitle>

  <ion-img
    [src]="cat.image | imageFallback"
    class="cat-card__img">
  </ion-img>

  <ion-card-content>
    <ion-row class="ion-padding-top ion-justify-content-between">
      <ion-col size="6" class="cat-card__origin">
        <strong>origin</strong><br />
        <span>{{ cat.origin }}</span>
      </ion-col>
      <ion-col size="6" class="cat-card__intelligence">
        <strong>intelligence</strong><br />
        <span>{{ cat.intelligence }}</span>
      </ion-col>
    </ion-row>
  </ion-card-content>
</ion-card>
