<ion-header [translucent]="true" mode="ios" class="ion-no-border">
  <ion-toolbar>
    <ion-title> CatsBreeds </ion-title>
  </ion-toolbar>
</ion-header>

<ion-loading
  [isOpen]="loading"
  message="Loading..."
  spinner="circles"
  translucent="true"
  backdropDismiss="false">
</ion-loading>

<ion-content (ionScroll)="handleScroll($event)" scrollEvents="true">
  <app-cats [cats]="cats"></app-cats>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="loadMoreBreeds($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading..."
    >
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>

  <ion-fab
    vertical="bottom"
    horizontal="end"
    slot="fixed"
    *ngIf="showScrollButton"
    style="bottom: 80px"
  >
    <ion-fab-button (click)="scrollToTop()">
      <ion-icon name="arrow-up-outline"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
